@{
    ViewBag.Title = "Kinnita email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Täname, et kinnitasite oma e-posti aadressi. Palun @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
