@{
    ViewBag.Title = "Unustasin parooli kinnituse";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        parooli lähestamiseks kontrollige oma meil
    </p>
</div>
	
